.container {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
}
.container span{
      display: flex;
      align-items: center;
      gap :5px;
}
.container img{
      width: 20px;

}
.container .skillList{
display: flex;
justify-content: space-evenly;
align-self: center;
flex-wrap:wrap ;
row-gap: 40px;
max-width: 26ch;
}
.container hr{
     width: 100px;
     height: 1px;
     border: none;
     background-color: var(--text-color);
     margin: 30px auto;

}
@media (width >= 800px) {
      .skillList {
        min-width: fit-content;
        gap: 30px;

      }
      p{
            font-style: 20x;
      }
      hr{
            width: 300px;
      }
    }