.colorModeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 100dvh;
  min-height: 500px;
  margin-top: 3rem;
  position: relative;
}

.colorModeContainer .logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 15px;
}

.colorModeContainer #lotfi {
  max-width: 200px;
}

.colorModeContainer a {
  margin: 0 auto;
}

.colorModeIcon {
  border-radius: 50%;
  border: 2px solid var(--text-color);
  width: 50px;
}

.colorModeIconBG {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px;
  top: 350px;
  border-radius: 50%;
  background-color: white;
  animation: colorChange 4s infinite ease-in-out;
}

@keyframes colorChange {
  0%, 100% { background-color: rgb(140, 140, 136); color: var(--text-color); }
  50% { background-color: white; color: var(--text-color); }
}

.colorModeContainer span {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.colorModeContainer button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 180px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.colorModeContainer button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.colorMode {
  width: 250px;
  height: 250px;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.description {
  align-self: center;
  text-align: justify;
  padding-left: 2em;
  margin: 0;
  max-width: 600px; 
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 70%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .colorModeContainer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0;
  }
  .colorModeContainer #lotfi {
    max-width: 350px;
    width: 350px;
  }
  .colorModeIconBG {
    right: 5px;
  }
 
  
  .info {
    
    gap: 30px;
    width: 50%;
    max-width: 600px;
  }
}

@media (min-width: 1400px) {
  .colorModeContainer #lotfi {
    max-width: 400px;
    width: 400px;
  }
}
